# NFL API and Prediction Charts for Quiniela

## Config

In [3]:
%load_ext autotime

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import nflapi
from datetime import datetime

from dash import dash_table
import plotly.graph_objects as go
from jupyter_dash import JupyterDash
from dash import dcc
from dash import html
from dash.dependencies import Input, Output

## Read in Data

In [5]:
nfl = nflapi.NFL(ua="nflapi")

In [6]:
preds = pd.read_csv('../data/quiniela_res.csv').sort_values(['season', 'week'], ascending=True)
preds['season'] = preds['season'].astype(int)
preds['week'] = preds['week'].astype(int)
preds = preds.rename(columns={'Home Team': 'home_team', 'Away Team':'away_team'})

teamsL = np.unique(preds['away_team'].unique().tolist() + preds['home_team'].unique().tolist())
print(np.sort(teamsL))
print(len(teamsL))
preds.head()

['ARI' 'ATL' 'BAL' 'BUF' 'CAR' 'CHI' 'CIN' 'CLE' 'DAL' 'DEN' 'DET' 'GB'
 'HOU' 'IND' 'JAX' 'KC' 'LA' 'LAC' 'LV' 'MIA' 'MIN' 'NE' 'NO' 'NYG' 'NYJ'
 'PHI' 'PIT' 'SEA' 'SF' 'TB' 'TEN' 'WAS']
32

   season  week away_team home_team  Gel Hector Emilio Sonny
0    2003     1       ATL       DAL  DAL    ATL    DAL   DAL
1    2003     1        NE       BUF  BUF    BUF     NE   BUF
2    2003     1       JAX       CAR  JAX    JAX    JAX   CAR
3    2003     1       DEN       CIN  DEN    DEN    DEN   DEN
4    2003     1       ARI       DET  DET    ARI    DET   ARI

In [7]:
teams = pd.read_csv('../data/nfl_team_info_all.csv', index_col=0)
teams['season'] = teams['season'].astype(int)
team_dec = teams.groupby(['full_name', 'abbreviation']).size().reset_index(drop=False).set_index(['full_name'])['abbreviation'].to_dict()
teams.head()

,abbreviation,full_name,nick_name,conference,division,city_state_region,season,venue,logo
0,WAS,Washington Redskins,Redskins,NFC,NFC_EASTERN,Washington,2003,NaN,WAS_logo_old.png
1,TB,Tampa Bay Buccaneers,Buccaneers,NFC,NFC_SOUTH,Tampa Bay,2003,NaN,TB_logo_old.png
2,SEA,Seattle Seahawks,Seahawks,NFC,NFC_WESTERN,Seattle,2003,NaN,SEA_logo_old.png
3,SF,San Francisco 49ers,49ers,NFC,NFC_WESTERN,San Francisco,2003,NaN,SF_logo.webp
4,LAC,San Diego Chargers,Chargers,AFC,AFC_WESTERN,San Diego,2003,NaN,LAC_logo.webp

In [8]:
scores = pd.read_csv('../data/nfl_scores_all.csv', index_col=0)
scores['season'] = scores['season'].astype(int)
scores['week'] = scores['week'].astype(int)
scores['home_team'] = scores['home_team'].apply(lambda x: team_dec[x])
scores['away_team'] = scores['away_team'].apply(lambda x: team_dec[x])
scores['winner'] = [home_team if home_score + home_ot_score > away_score + away_ot_score else \
                    away_team if away_score + away_ot_score > home_score + home_ot_score else \
                    'TIE' for home_ot_score, away_ot_score, home_score, away_score, home_team, away_team in \
                    scores[['home_team_score', 'away_team_score', 
                            'home_points_overtime_total', 'visitor_points_overtime_total', 
                            'home_team', 'away_team']].values]
scores.head()

,season,week,week_type,game_id,game_details_id,game_time,game_date,home_team,away_team,home_team_score,...,visitor_points_q1,visitor_points_q2,visitor_points_q3,visitor_points_q4,visitor_passing_yards,visitor_passing_touchdowns,visitor_rushing_yards,visitor_rushing_touchdowns,phase,winner
0,2003,1,REG,10012003-0904-00a6-ff62-12e477623f1a,10160000-0264-94ab-68f5-9ff371a986a3,2003-09-04 09:00:00+00:00,2003-09-04,WAS,NYJ,16.0,...,7.0,0.0,3.0,3.0,101.0,0.0,57.0,1.0,FINAL,WAS
1,2003,1,REG,10012003-0907-0075-30bd-8e1167d1c6ac,10160000-0264-997c-6c87-72c644130bbf,2003-09-07 09:00:00+00:00,2003-09-07,DET,ARI,42.0,...,7.0,7.0,10.0,0.0,339.0,3.0,95.0,0.0,FINAL,DET
2,2003,1,REG,10012003-0907-0126-f566-a59e19a70a3a,10160000-0264-97a8-19af-9168b28ada0a,2003-09-07 09:00:00+00:00,2003-09-07,CIN,DEN,10.0,...,3.0,17.0,7.0,3.0,109.0,0.0,184.0,2.0,FINAL,DEN
3,2003,1,REG,10012003-0907-0277-e7c6-41b36cc4a1ce,10160000-0264-9839-6579-47a20841e644,2003-09-07 09:00:00+00:00,2003-09-07,CLE,IND,6.0,...,0.0,3.0,3.0,3.0,204.0,0.0,67.0,0.0,FINAL,IND
4,2003,1,REG,10012003-0907-0388-64cf-dd9886d18dde,10160000-0265-04d2-fd24-f2f5b0964d49,2003-09-07 09:00:00+00:00,2003-09-07,PIT,BAL,34.0,...,0.0,0.0,7.0,8.0,143.0,1.0,88.0,1.0,FINAL,PIT

In [9]:
## Merge Home Team Info
df = scores.merge(teams.rename(columns={x:x+'_home' for x in teams.columns if x != 'season'}),
                    left_on=['home_team', 'season'], 
                    right_on=['abbreviation_home', 'season'], 
                    suffixes=['', '_home'],
                    how='left')

## Merge Away Team Info
df = df.merge(teams.rename(columns={x:x+'_away' for x in teams.columns if x != 'season'}), 
                    left_on=['away_team', 'season'], 
                    right_on=['abbreviation_away', 'season'], 
                    suffixes=['', '_away'],
                    how='left')

## Create New Week Num Column
week_type_order = {'REG':1, 'WC':2, 'DIV':3, 'CONF':4, 'SB':5}
df['week_type_ord'] = df['week_type'].apply(lambda x: week_type_order[x])
week_dec = df.sort_values(['game_date', 'week_type_ord', 'season'], ascending=True).reset_index(drop=True).groupby(['season', 'week_type_ord', 'week']).size().reset_index(drop=False)
week_dec['week_num'] = week_dec.groupby(['season'])['season'].cumcount()+1
df = df.merge(week_dec.drop(0, axis=1), 
                    left_on=['season', 'week', 'week_type_ord'],
                    right_on=['season', 'week', 'week_type_ord'],
                    how='left')


## Merge Users Pred Info
# df = df.merge(preds.drop(['week'], axis=1), 
df = df.merge(preds, 
                    left_on=['home_team', 'away_team', 'season'], 
                    right_on=['home_team', 'away_team', 'season'],
                    how='left',
                    suffixes=['', '_quin'])

## Remove Duplicate Entries
dup_games = scores.groupby(['home_team', 'away_team', 'season']).size()
dup_games = dup_games[dup_games>1].reset_index(drop=False)
drop_idxL = []
for idx, dup_game in dup_games.iterrows():
    temp_dup = df.loc[((df['home_team'] == dup_game['home_team']) & (df['away_team'] == dup_game['away_team']) &  (df['season'] == dup_game['season']))].reset_index(drop=False)
    temp_dup['week_num_diff'] = abs(temp_dup['week_quin'] - temp_dup['week_num'])
    drop_idxL = drop_idxL + temp_dup.sort_values(['week_num_diff'], ascending=False).drop_duplicates(['game_id'], keep='first')['index'].values.tolist()
df = df.loc[~df.index.isin(drop_idxL)].reset_index(drop=True)

## Preview Data
print(df.columns.tolist())
df.head()

['season', 'week', 'week_type', 'game_id', 'game_details_id', 'game_time', 'game_date', 'home_team', 'away_team', 'home_team_score', 'away_team_score', 'home_points_overtime_total', 'visitor_points_overtime_total', 'home_points_q1', 'home_points_q2', 'home_points_q3', 'home_points_q4', 'home_passing_yards', 'home_passing_touchdowns', 'home_rushing_yards', 'home_rushing_touchdowns', 'visitor_points_q1', 'visitor_points_q2', 'visitor_points_q3', 'visitor_points_q4', 'visitor_passing_yards', 'visitor_passing_touchdowns', 'visitor_rushing_yards', 'visitor_rushing_touchdowns', 'phase', 'winner', 'abbreviation_home', 'full_name_home', 'nick_name_home', 'conference_home', 'division_home', 'city_state_region_home', 'venue_home', 'logo_home', 'abbreviation_away', 'full_name_away', 'nick_name_away', 'conference_away', 'division_away', 'city_state_region_away', 'venue_away', 'logo_away', 'week_type_ord', 'week_num', 'week_quin', 'Gel', 'Hector', 'Emilio', 'Sonny']

,season,week,week_type,game_id,game_details_id,game_time,game_date,home_team,away_team,home_team_score,...,city_state_region_away,venue_away,logo_away,week_type_ord,week_num,week_quin,Gel,Hector,Emilio,Sonny
0,2003,1,REG,10012003-0904-00a6-ff62-12e477623f1a,10160000-0264-94ab-68f5-9ff371a986a3,2003-09-04 09:00:00+00:00,2003-09-04,WAS,NYJ,16.0,...,New York Jets,NaN,NYJ_logo_old.png,1,1,1.0,WAS,WAS,NYJ,WAS
1,2003,1,REG,10012003-0907-0075-30bd-8e1167d1c6ac,10160000-0264-997c-6c87-72c644130bbf,2003-09-07 09:00:00+00:00,2003-09-07,DET,ARI,42.0,...,Arizona,NaN,ARI_logo.webp,1,1,1.0,DET,ARI,DET,ARI
2,2003,1,REG,10012003-0907-0126-f566-a59e19a70a3a,10160000-0264-97a8-19af-9168b28ada0a,2003-09-07 09:00:00+00:00,2003-09-07,CIN,DEN,10.0,...,Denver,NaN,DEN_logo.webp,1,1,1.0,DEN,DEN,DEN,DEN
3,2003,1,REG,10012003-0907-0277-e7c6-41b36cc4a1ce,10160000-0264-9839-6579-47a20841e644,2003-09-07 09:00:00+00:00,2003-09-07,CLE,IND,6.0,...,Indianapolis,NaN,IND_logo.webp,1,1,1.0,IND,CLE,IND,CLE
4,2003,1,REG,10012003-0907-0388-64cf-dd9886d18dde,10160000-0265-04d2-fd24-f2f5b0964d49,2003-09-07 09:00:00+00:00,2003-09-07,PIT,BAL,34.0,...,Baltimore,NaN,BAL_logo.webp,1,1,1.0,PIT,PIT,PIT,PIT

In [10]:
df.to_csv('../data/full_data.csv', index=False)

## Team Statistics

In [11]:
HOME_COLS = {}
HOME_COLS['id'] = ['home_team', 'abbreviation_home', 'nick_name_home',
       'full_name_home', 'conference_home', 'division_home', 'city_state_region_home', 'venue_home','logo_home', ]
HOME_COLS['val_for'] =  ['home_points_q1', 'home_points_q2',
       'home_points_q3', 'home_points_q4', 'home_points_overtime_total', 'home_team_score', 'home_passing_yards',
       'home_passing_touchdowns', 'home_rushing_yards',
       'home_rushing_touchdowns']

In [12]:
AWAY_COLS = {}
AWAY_COLS['id'] = ['away_team', 'abbreviation_away','nick_name_away',
       'full_name_away', 'conference_away', 'division_away', 'city_state_region_away', 'venue_away','logo_away',]
AWAY_COLS['val'] = ['visitor_points_q1', 'visitor_points_q2',
       'visitor_points_q3', 'visitor_points_q4', 'visitor_points_overtime_total',  'away_team_score', 
       'visitor_passing_yards', 'visitor_passing_touchdowns', 'visitor_rushing_yards','visitor_rushing_touchdowns']

In [13]:
df_home = df.copy()

df_home = df_home.drop([x for x in AWAY_COLS['id'] if x != 'away_team'][0], axis=1)
df_home = df_home.rename(columns={x:x.replace('visitor', 'against').replace('away', 'against').replace('_home', '').replace('home_', '') for x in df_home.columns})
df_home['home_or_away'] = 'home'

df_away = df.copy()
df_away = df_away.drop([x for x in HOME_COLS['id'] if x != 'home_team'][0], axis=1)
df_away = df_away.rename(columns={x:x.replace('home', 'against').replace('_away', '').replace('away_', '').replace('visitor_', '') \
    for x in df_away.columns})
df_away['home_or_away'] = 'away'

df_teams = pd.concat([df_home, df_away]).sort_values(['season', 'week', 'game_time']).reset_index(drop=True)

In [14]:
def team_stats(team, season=None, week=None, df_teams=df_teams):

    loc = 1
    if week==1:
        season=season-1
        week = df_teams.loc[df_teams['season']==season].week_num.max()
        loc = 0

    team_df = df_teams.loc[df_teams['team']==team].reset_index(drop=True)

    if len(team_df) > 0:
        team_df = team_df.loc[team_df['season']==season].reset_index(drop=True)

    if len(team_df) > 0:
        team_df = team_df.loc[team_df['week_num']<=week].reset_index(drop=True)

    ## Previous Three Games
    last_3_games = team_df.sort_values(['game_time'], ascending=False).iloc[loc:].head(3)[['week_type', 'week_num', 'against_team', 'team', 'team_score', 'against_team_score', 'points_overtime_total','against_points_overtime_total', 'home_or_away']]
    last_3_gamesL = [html.P('Last Games:')]
    for idx, game in last_3_games.iterrows():
        if game['home_or_away'] == 'home':
            last_3_gamesL.append(html.P("{} {} - Week {} ".format(season, game['week_type'], str(game['week_num']))  + \
                game['against_team'] + \
                '\t {} at {} '.format(int(game['against_team_score']+game['against_points_overtime_total']), 
                int(game['team_score']+game['points_overtime_total'])) + game['team']))
        else:
            last_3_gamesL.append(html.P("{} {} - Week {} ".format(season, game['week_type'], str(game['week_num'])) + \
                game['team'] + \
                '\t {} at {} '.format(int(game['team_score']+game['points_overtime_total']), 
                int(game['against_team_score']+game['against_points_overtime_total'])) + game['against_team']))

    ## Win Streak
    last_5_games = team_df.sort_values(['game_time'], ascending=False).iloc[loc:].head(5)[['against_team', 'team', 'winner', 'home_or_away']]
    win_streak = "Streak: "
    for idx, game in last_5_games.iterrows():
        if game['winner'] == game['team']:
            win_streak += 'W'
        else:
            win_streak += 'L'

    ## Off. Yard Rank
    ## Def. Yard Rank

    # return team_df.groupby(['team']).sum().reset_index(drop=False).drop(['season', 'week', 'week_num', 'week_type_ord',
    #                                                                     'week_quin'], axis=1)

    return last_3_gamesL +   [html.P(win_streak)]

res = team_stats(team='WAS', season=2019, week=4, df_teams=df_teams)
res

[P('Last Games:'),
 P('2019 REG - Week 3 CHI\t 31 at 15 WAS'),
 P('2019 REG - Week 2 DAL\t 31 at 21 WAS'),
 P('2019 REG - Week 1 WAS\t 27 at 32 PHI'),
 P('Streak: LLL')]

In [15]:
season=2019
week=5
team='WAS'

loc = 1
if week==1:
    season=season-1
    week = df_teams.loc[df_teams['season']==season].week_num.max()
    loc = 0

team_df = df_teams.loc[df_teams['team']==team].reset_index(drop=True)

if len(team_df) > 0:
    team_df = team_df.loc[team_df['season']==season].reset_index(drop=True)

if len(team_df) > 0:
    team_df = team_df.loc[team_df['week_num']<=week].reset_index(drop=True)

## Previous Three Games
last_3_games = team_df.sort_values(['game_time'], ascending=False).iloc[loc:].head(3)[['week_type', 'week_num', 'against_team', 'team', 'team_score', 'against_team_score', 'points_overtime_total','against_points_overtime_total', 'home_or_away']]
last_3_gamesL = [html.P('Last Games:')]
for idx, game in last_3_games.iterrows():
    if game['home_or_away'] == 'home':
        last_3_gamesL.append(html.P("{} {} - Week {} ".format(season, game['week_type'], str(game['week_num']))  + \
            game['against_team'] + \
            '\t {} at {} '.format(int(game['against_team_score']+game['against_points_overtime_total']), 
            int(game['team_score']+game['points_overtime_total'])) + game['team']))
    else:
        last_3_gamesL.append(html.P("{} {} - Week {} ".format(season, game['week_type'], str(game['week_num'])) + \
            game['team'] + \
            '\t {} at {} '.format(int(game['team_score']+game['points_overtime_total']), 
            int(game['against_team_score']+game['against_points_overtime_total'])) + game['against_team']))

## Win Streak
last_5_games = team_df.sort_values(['game_time'], ascending=False).iloc[loc:].head(5)[['against_team', 'team', 'winner', 'home_or_away']]
win_streak = "Streak: "
for idx, game in last_5_games.iterrows():
    if game['winner'] == game['team']:
        win_streak += 'W'
    else:
        win_streak += 'L'

## Users Statistics

In [16]:
USER_LIST = ['Gel','Hector','Emilio','Sonny']
def user_stats(userL=USER_LIST, season=None, week=None, df=df):

    user_df = df.copy()

    if pd.notnull(season):
        user_df = user_df.loc[user_df['season']==season].reset_index(drop=True)

    if pd.notnull(week):
        user_df = user_df.loc[user_df['week_num']<=week].reset_index(drop=True)

    for user in userL:

        user_df.loc[user_df[user] == user_df['winner'], user+'_correct'] = 1
        user_df.loc[user_df[user] != user_df['winner'], user+'_correct'] = 0

    user_df = user_df.groupby(['season', 'week_num'])[[x+'_correct' for x in userL]].sum()
    user_df[[x+'_score' for x in userL]] = user_df.groupby(['season', 'week_num'])[[x+'_correct' for x in userL]].sum().cumsum()


    return user_df

In [17]:
USER_LIST = ['Gel','Hector','Emilio','Sonny']
userL=USER_LIST

user_df = df.copy()[USER_LIST+['winner', 'season', 'week_num']]

for user in userL:

    user_df.loc[user_df[user] == user_df['winner'], user+'_correct'] = 1
    user_df.loc[user_df[user] != user_df['winner'], user+'_correct'] = 0

user_df = user_df.groupby(['season', 'week_num'])[[x+'_correct' for x in userL]].sum()
user_df[[x+'_score' for x in userL]] = user_df.groupby(['season'])[[x+'_correct' for x in userL]].cumsum()
user_df = user_df.reset_index(drop=False)

In [18]:
season=2019
week=18
curr_user = user_df.loc[((user_df.season==season) & (user_df.week_num==week))]

curr_user = pd.concat([
            curr_user[[x+'_correct' for x in USER_LIST]].rename(columns={x+'_correct':x for x in USER_LIST}).T,
            curr_user[[x+'_score' for x in USER_LIST]].rename(columns={x+'_score':x for x in USER_LIST}).T,
        ], axis=1)
curr_user.columns = ['Week Score', 'Season Score']
curr_user = curr_user.T.reset_index(drop=False)
curr_user = curr_user.rename(columns={'index':''})
curr_user

                   Gel  Hector  Emilio  Sonny
0    Week Score    1.0     1.0     1.0    1.0
1  Season Score  165.0   168.0   159.0  159.0

In [19]:
curr_table = go.Table(
                    header = dict(values=curr_user.columns.tolist()),
                    cells = dict(
                        values= [
                            curr_user[col].astype(int).values.tolist() if col != '' \
                                else curr_user[col].values.tolist() \
                                    for col in curr_user.columns
                        ]
                    ),
            )

fig = go.Figure(data=[curr_table])

In [20]:
# code and plot setup
# settings
pd.options.plotting.backend = "plotly"

# plotly figure
app = JupyterDash(__name__)
app.layout = html.Div([
                        html.H1("Random datastream"),
                        dcc.Graph(figure=fig),
                    ])

app.run_server(mode='jupyterlab', port = 8080, dev_tools_ui=True, #debug=True,
            dev_tools_hot_reload =True, threaded=True)

In [21]:
[{'label':"{week} - {week_type}".format(week=week, week_type=week_type), 'value':week} for week_num, week, week_type in df.loc[df['season']==preds['season'].max()]\
                            .sort_values('week_num', ascending=True).groupby(['week_num', 'week', 'week_type']).size()\
                                .reset_index(drop=False)[['week_num', 'week', 'week_type']].values]

[{'label': '1 - REG', 'value': 1},
 {'label': '2 - REG', 'value': 2},
 {'label': '3 - REG', 'value': 3},
 {'label': '4 - REG', 'value': 4},
 {'label': '5 - REG', 'value': 5},
 {'label': '6 - REG', 'value': 6},
 {'label': '7 - REG', 'value': 7},
 {'label': '8 - REG', 'value': 8},
 {'label': '9 - REG', 'value': 9},
 {'label': '10 - REG', 'value': 10},
 {'label': '11 - REG', 'value': 11},
 {'label': '12 - REG', 'value': 12},
 {'label': '13 - REG', 'value': 13},
 {'label': '14 - REG', 'value': 14},
 {'label': '15 - REG', 'value': 15},
 {'label': '16 - REG', 'value': 16},
 {'label': '17 - REG', 'value': 17},
 {'label': '18 - REG', 'value': 18},
 {'label': '1 - WC', 'value': 1},
 {'label': '2 - DIV', 'value': 2},
 {'label': '3 - CONF', 'value': 3},
 {'label': '4 - SB', 'value': 4}]

## User Team Stats

In [22]:
user='Emilio'
home_team = 'GB'
away_team = 'TB'
season = 2020
week = 1

def user_team_stats(user, home_team, away_team, season, week):

    from sklearn.metrics import confusion_matrix

    min_date = df_teams.loc[df_teams['season']== season].loc[df_teams['week'] == week].game_date.min()
    curr_teams = df_teams.loc[df_teams['team'].isin([home_team, away_team])].loc[df_teams['game_date']<min_date].reset_index(drop=False)

    user_acc = pd.DataFrame([], columns=['team', 'home', 'total', 'tn', 'fp', 'fn', 'tp', 'acc'])

    count = 0
    for (team, hw), vals in curr_teams.groupby(['team', 'home_or_away'])[[user, 'winner', 'game_date']]:

        vals = vals.sort_values(['game_date']).head(5)

        actual = [x if x == team else 'other' for x in vals['winner']]
        user_pred = [x if x == team else 'other' for x in vals[user]]

        cm = confusion_matrix(actual, user_pred).ravel()

        if len(cm) == 1:
            if np.unique(actual)[0] == 'other':
                tn, fp, fn, tp = len(actual),0,0,0
            else:
                tn, fp, fn, tp = 0,0,0,len(actual)
        else:
            tn, fp, fn, tp = cm

        acc = ""
        for act, pred in zip(actual, user_pred):
            if act == pred:
                acc += 'T'
            else:
                acc += 'F'

        user_acc.loc[count] = [team, hw, len(vals), tn, fp, fn, tp, acc]

        count += 1       

    return user_acc

In [39]:
user_team_stats(user, home_team, away_team, season, week).to_string(index=False).split('\n')

['team home  total  tn  fp  fn  tp   acc',
 '  GB away      5   3   0   2   0 FTFTT',
 '  GB home      5   2   0   3   0 FTTFF',
 '  TB away      5   3   0   2   0 TTTFF',
 '  TB home      5   0   1   2   2 FTFFT']

In [35]:
from sklearn.metrics import confusion_matrix


confusion_matrix(['other', 'other', 'other', 'other', 'other'], ['other', 'other', 'other', 'other', 'other'])

array([[5]], dtype=int64)

In [30]:
today = np.datetime64('now') - np.timedelta64('')

df.loc[df['game_time'].astype(np.datetime64) > today].sort_values('game_time')

,season,week,week_type,game_id,game_details_id,game_time,game_date,home_team,away_team,home_team_score,...,city_state_region_away,venue_away,logo_away,week_type_ord,week_num,week_quin,Gel,Hector,Emilio,Sonny
5093,2022,1,REG,7ae7944e-d24c-11ec-b23d-d15a91047884,NaN,2022-09-09 00:20:00+00:00,2022-09-09,LA,BUF,NaN,...,Buffalo,Highmark Stadium,BUF_logo.webp,1,1,NaN,NaN,NaN,NaN,NaN
5094,2022,1,REG,7ae7a948-d24c-11ec-b23d-d15a91047884,NaN,2022-09-11 17:00:00+00:00,2022-09-11,ATL,NO,NaN,...,New Orleans,Caesars Superdome,NO_logo.webp,1,1,NaN,NaN,NaN,NaN,NaN
5095,2022,1,REG,7ae7b07d-d24c-11ec-b23d-d15a91047884,NaN,2022-09-11 17:00:00+00:00,2022-09-11,CAR,CLE,NaN,...,Cleveland,FirstEnergy Stadium,CLE_logo.webp,1,1,NaN,NaN,NaN,NaN,NaN
5096,2022,1,REG,7ae7b7fc-d24c-11ec-b23d-d15a91047884,NaN,2022-09-11 17:00:00+00:00,2022-09-11,CHI,SF,NaN,...,San Francisco,Levi's® Stadium,SF_logo.webp,1,1,NaN,NaN,NaN,NaN,NaN
5097,2022,1,REG,7ae7be32-d24c-11ec-b23d-d15a91047884,NaN,2022-09-11 17:00:00+00:00,2022-09-11,CIN,PIT,NaN,...,Pittsburgh,Heinz Field,PIT_logo.webp,1,1,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5344,2022,17,REG,ba11445e-d24c-11ec-b23d-d15a91047884,NaN,2023-01-01 21:05:00+00:00,2023-01-01,LV,SF,NaN,...,San Francisco,Levi's® Stadium,SF_logo.webp,1,17,NaN,NaN,NaN,NaN,NaN
5345,2022,17,REG,ba114963-d24c-11ec-b23d-d15a91047884,NaN,2023-01-01 21:05:00+00:00,2023-01-01,SEA,NYJ,NaN,...,N.Y. Jets,MetLife Stadium,NYJ_logo.webp,1,17,NaN,NaN,NaN,NaN,NaN
5346,2022,17,REG,ba114e3e-d24c-11ec-b23d-d15a91047884,NaN,2023-01-01 21:25:00+00:00,2023-01-01,GB,MIN,NaN,...,Minnesota,U.S. Bank Stadium,MIN_logo.webp,1,17,NaN,NaN,NaN,NaN,NaN
5347,2022,17,REG,ba1152d0-d24c-11ec-b23d-d15a91047884,NaN,2023-01-02 01:20:00+00:00,2023-01-02,LAC,LA,NaN,...,L.A. Rams,SoFi Stadium,LA_logo.webp,1,17,NaN,NaN,NaN,NaN,NaN
5348,2022,17,REG,ba11573c-d24c-11ec-b23d-d15a91047884,NaN,2023-01-03 01:30:00+00:00,2023-01-03,CIN,BUF,NaN,...,Buffalo,Highmark Stadium,BUF_logo.webp,1,17,NaN,NaN,NaN,NaN,NaN